html {
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight:lighter;
  background-color: #696c70;
  color: #fcfdff;
  height: 6rem;
  text-align: left;
  margin: 0px;
  display: flex;
  align-items: center;
}

div#root {
  border-style: ridge;
  border-width: 2px;
  background-color: #fcfdff;
}

div.movie {
  text-align: center;
  text-indent: 20px;
  font-size: 2rem;
  padding: 10px;
}

button {
  background-color: #696c70;
  color: #fcfdff;
  display: block;
  width: 100%;
  font-size: 50px;
  font-weight:lighter;
  height: 6rem;
  text-align: right;
  cursor: pointer;
}

a:link, a:visited {
  text-decoration: none;
  color: #6c6e70;
}
